<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vkrSynchroFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vkrSynchroFile.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>server=std-mysql.ist.mospolytech.ru; user=std_1590_test; database=std_1590_test; password=std_1590_test;</value>
            </setting>
            <setting name="newconnectionString" serializeAs="String">
                <value>server=otleraram.beget.app; port=3306; user=default-db; database=default-db; password=wRGvFg9EQ&amp;ru;</value>
            </setting>
            <setting name="aesKey" serializeAs="String">
                <value>yqjC7d7yX74N7bxp6yJRuG9SwGcK0E3UB5FtNSe+1QI=</value>
            </setting>
            <setting name="aesIV" serializeAs="String">
                <value>6U6+w5CY4xhlOqGBThTtRw==</value>
            </setting>
        </vkrSynchroFile.Properties.Settings>
    </userSettings>
</configuration>